<!DOCTYPE html>
<html lang="en">
<head>
  <title>Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <center><h2>Application Links</h2></center>
  <br>
  <button type="button" class="btn btn-default btn-lg btn-block"><a href="/new_application">Create New Applicant</a></button>
  <button type="button" class="btn btn-primary btn-lg btn-block"><a style="color:white;" href="/new_employee">Create New Employee</a></button>
  <button type="button" class="btn btn-danger btn-lg btn-block"><a style="color:white;" href="/applicant">Manage Applicants</a></button>
  <button type="button" class="btn btn-basic btn-lg btn-block"><a style="color:white;" href="/employee">Manage Employees</a></button>
  <button type="button" class="btn btn-info btn-lg btn-block"><a style="color:white;" href="/login"> Login </a></button>
  <button type="button" class="btn btn-success btn-lg btn-block"><a style="color:white;" href="/register"> Register </a></button>
  <button type="button" class="btn btn-warning btn-lg btn-block"><a style="color:white;" href="/profile"> Profile </a></button>
  <button type="button" class="btn btn-primary btn-lg btn-block"><a style="color:white;" href="/resetting/request"> Reset Password </a></button>
  <button type="button" class="btn btn-info btn-lg btn-block"><a style="color:white;" href="/profile/edit"> Edit Your Profile </a></button>



</div>

</body>
</html>
